#top-wrap {
    text-align:center;
    height: 35px;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: inherit;
    z-index: 1;
}

nav a {
    display: inline-block;
    padding: 14px 16px;
    font-size: 1em;
    text-decoration: none;
}

nav a:not(#current-page) {
    color: whitesmoke;
}

nav a:hover:not(#current-page)  {
    background-color: #111;
}

nav #current-page {
    background-color: antiquewhite;
    color: #333;
    text-decoration: underline;
}

nav li {
    list-style: none;
    display: inline-block;
}
